.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media (max-width: 800px) {
    .Burger {
        max-width: 350px;
        height: 300px;
    }
}

@media (min-width: 801px){
    .Burger {
        max-width: 450px;
        height: 400px;
    }
}